
.icontwitter {
        color: rgb(43, 170, 243)
}



.columizquierda {
    text-align: left;
    margin-left: 30%;
    font-size: 35px;
    position: fixed; /* para la positicón fija*/
}

.columnaderecha {
    margin-left: auto;
    position: relative;
    overflow-y: auto;
    height: 1000px;
}

.yield {
    position: relative;
    overflow-y: auto; /* para manipular el contenido vertical */
    text-align: center;
    margin-left: auto;
    height: 1000px;

}

.textofooter a {
    color: black;
    text-decoration: none;
}

.textotwitter1 {
    color: black;
    text-decoration: none;
}

.textotwitter2 {
    color: white;
    text-decoration: none;
}

.inicio {
    background-color: rgb(17, 183, 238);
}

.twittear {
    background-color: rgb(129, 195, 233);
}
